[submodule "letschat-frontend"]
	path = letschat-frontend
	url = https://github.com/DeveshRathod/Frontend-letschat.git
[submodule "letschat-backend"]
	path = letschat-backend
	url = https://github.com/DeveshRathod/Backend-letschat.git
