[submodule "letschat-frontend"]
	path = letschat-frontend
	url = https://github.com/DeveshRathod/letschat-frontend.git
[submodule "letschat-backend"]
	path = letschat-backend
	url = https://github.com/DeveshRathod/letschat-backend.git
